# {{ ansible_managed }}

upstream api {
  server localhost:8080;
}

server {
       server_name    api.{{ env }}.{{ lookup('env','DOMAIN') }};
       listen         80 default_server;
       listen         [::]:80 default_server;

       location /healthcheck {
           proxy_set_header Host $host;
           proxy_set_header X-Real-IP $remote_addr;
           proxy_pass http://api;
       }

       location / {
           return 301 https://$server_name$request_uri;
       }

       client_max_body_size 10M;
}

server {
       server_name    api.{{ env }}.{{ lookup('env','DOMAIN') }};
       listen         443 default ssl;
       listen         [::]:443 default ssl;

       ssl_certificate /etc/httpd/ssl/api.{{ env }}.{{ lookup('env','DOMAIN') }}.crt;
       ssl_certificate_key {{ lookup('env','PRIVATE_DOMAIN_KEY_PATH') }};

       location ~* ^/(healthcheck|account|maintenance|task|learn)/? {
           proxy_set_header Host $host;
           proxy_set_header X-Real-IP $remote_addr;
           proxy_pass http://api;
       }

       client_max_body_size 10M;
}
