# {{ ansible_managed }}

[carbon]
pattern = ^carbon\.

[custom_aggregating_retention_count]
pattern = \.count$
xFilesFactor=0.1
aggregationMethod=sum

[custom_aggregating_retention_rate]
pattern = \.rate(\.*)?$
xFilesFactor=0.1
aggregationMethod=average

[custom_aggregating_retention_latency]
pattern = \.latency$
xFilesFactor=0.1
aggregationMethod=average

[custom_aggregating_retention_percentage]
pattern = \.percentage$
xFilesFactor=0.1
aggregationMethod=average

[custom_aggregating_retention_api_client]
pattern = \.API\.client\.
xFilesFactor=0.1
aggregationMethod=sum

[custom_aggregating_retention_other]
pattern = .*
xFilesFactor=0.1
aggregationMethod=average
